<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adote um Pet</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="pets.html">Pets</a></li>
                <li><a href="adotar.html">Adotar</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
        <div class="header-content">
            <h1>Encontre seu pet</h1>
            <p>Adotar é espalhar amor! Venha encontrar seu companheiro de quatro patas e mude a vida de um pet 
               e a sua também. Aqui, o amor não se compra, se adota!</p>
               <a href="adotar.html">
                <button class="btn-adopt">Vamos Adotar</button>
            </a>
        </div>
    </header>
    <section class="action-buttons">
        <div class="button">
            <a href="adotar.html">
                <img src="adote.png" alt="Adote um Pet">
                <p>Adote um pet</p>
            </a>
        </div>
        <div class="button">
            <a href="voluntario.html">
                <img src="voluntario.png" alt="Seja Voluntário">
                <p>Seja um voluntário</p>
            </a>
        </div>
        <div class="button">
            <a href="doe.html"> 
                <img src="doe.png" alt="Doe para eles">
                <p>Doe para eles</p>
            </a>
        </div>
    </section>
    
    
    <section class="pets-section">
        <h2>Nossos animais que foram recentemente adotados!</h2>
        <p>Para saber mais sobre um pet, clique em Pets.</p> <br> <br>
        <div class="pets-list">
            <div class="pet">
                <img src="mel.jpg" alt="Mel"> 
                <p>Mel</p>
            </div>
            <div class="pet">
                <img src="theo.png" alt="Theo"> 
                <p>Theo</p>
            </div>
            <div class="pet">
                <img src="Lupin.webp" alt="Lupin"> 
                <p>Lupin</p>
            </div>
        </div>
    </section>

    <section class="statistics">
        <h2>Nossas Estatísticas</h2> 
        <br> <br>
        <div class="stats">
            <div class="stat">
                <img src="dog2.jpg" alt="Cachorros">
                <p>57 cães</p>
            </div>
            <div class="stat">
                <img src="cat2.avif" alt="Gatos">
                <p>29 gatos</p>
            </div>
            <div class="stat">
                <img src="house.png" alt="Capacidade">
                <p>77 capacidade</p>
            </div>
            <div class="stat">
                <img src="happy.png" alt="Adotados">
                <p>231 adotados</p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <div class="address">
                <p><strong>Endereço</strong></p>
                <p>Rua dos pets, São Paulo, 0500-100, Brasil</p>
            </div>
            <div class="contact">
                <p><strong>Contato</strong></p>
                <p>E-mail: adoteumpet@gmail.com</p>
                <p>Telefone: (11) 1234-5678</p>
                <p>Whatsapp: (11) 98745-6123</p>
            </div>
            <div class="supporters">
                <p><strong>Apoiadores</strong></p>
                <p>Milena e Milene</p>
            </div>
            <div class="footer-bottom">
                <p>© 2024 Adote um Pet. Todos os direitos reservados</p>
            </div>
        </div>
    </footer>
    