<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Pet</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <!-- Menu de Navegação -->
    <nav class="navbar">
        <a href="index.html">
            <img src="favicon.png" alt="Logo" class="logo"> <!-- Substitua "logo.png" pela imagem do logo desejada -->
        </a>
        <div class="breadcrumbs">
            <a href="index.html">Home</a> >
            <a href="pets.html">Pets</a> >
            <span class="current-page">Perfil da Pandora</span>
        </div>
    </nav>

    <!-- Ficha do Pet -->
    <div class="container">
        <div class="image-section">
            <img src="pandora2.jpg" alt="Foto de Kate"> <!-- Substitua "kate.jpg" pela foto do pet -->
        </div>
        <div class="info-section">
            <h1>PANDORA</h1>
            <p class="subtitle">- Fêmea<br>- Tigrada<br>- Pelagem semi-longa<br>- Olhos verdes<br>- Nascimento aproximado: julho de 2019<br>-  Resgatada em julho de 2024</p>
            <p class="description">
                Oi, sou a Pandora, uma gatinha tigrada de olhos verdes que passou três vezes na fila da beleza—sou 
                simplesmente deslumbrante! Além de linda, sou super carinhosa e brincalhona. 
                Mas nem sempre a vida foi tão bonita. Fui resgatada por uma moça que via que eu estava sendo maltratada na rua. 
                Mesmo assim, adoro a companhia de pessoas e me dou bem com outros gatos. Tenho FeLV,
                mas isso não me impede de ser uma companheira amorosa e cheia de vida. Estou pronta para encher sua casa de alegria e doçura. 
                Se você está procurando uma gatinha especial e cheia de charme, me adote! Prometo que sua vida vai ficar muito mais bonita comigo por perto!
                 Sou castrada, vacinada, negativa para FIV e positiva para FeLV.


            </p>
            <button class="interest-button">
                <span class="paw-icon">🐾</span> Tenho Interesse
            </button>
        </div>
    </div>

</body>
</html>
