<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Pet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Menu de Navegação -->
    <nav class="navbar">
        <a href="index.html">
            <img src="favicon.png" alt="Logo" class="logo"> <!-- Substitua "logo.png" pela imagem do logo desejada -->
        </a>
        <div class="breadcrumbs">
            <a href="index.html">Home</a> >
            <a href="pets.html">Pets</a> >
            <span class="current-page">Perfil do Biscoito</span>
        </div>
    </nav>

    <!-- Ficha do Pet -->
    <div class="container">
        <div class="image-section">
            <img src="biscoito.jpg" alt="Foto de Kate"> <!-- Substitua "kate.jpg" pela foto do pet -->
        </div>
        <div class="info-section">
            <h1>BISCOITO</h1>
            <p class="subtitle">- Macho<br>- Red point<br>- Pelagem curta<br>- Olhos azuis<br>- Nascimento aproximado: dezembro de 2020<br>- Resgatado em dezembro de 2023</p>
            <p class="description">
                Oi, gente! Biscoito aqui, esse gatinho charmoso demais, 
                red point, do jeito que você sempre sonhou. Tenho meus olhos azuis, meu focinho cor de rosa e sou lindão! 
                Vivia nas ruas e um dia sofri um acidente de uma altura muito grande, o que me deixou paraplégico. 
                Isso é ruim, eu sei, não vou negar que não é legal, mas vivo bem, brinco, sou bonzinho e carinhoso. 
                Duas moças que me viam nas ruas resolveram me ajudar e me levaram ao veterinário. 
                Claro que, diante do meu acidente, a conta ficou alta. 
                las cuidaram de mim, mas precisaram da ajuda do Adote Um Gatinho. 
                Por isso estou aqui, procurando uma família especial que queira e possa cuidar de mim! 
                Já passei por muita coisa e vou vencer ainda mais! 
                Eu sou castrado, vacinado, negativo para FIV e FeLV.

 
            </p>
            <button class="interest-button">
                <span class="paw-icon">🐾</span> Tenho Interesse
            </button>
        </div>
    </div>

</body>
</html>
