<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Pet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Menu de Navegação -->
    <nav class="navbar">
        <a href="index.html">
            <img src="favicon.png" alt="Logo" class="logo"> <!-- Substitua "logo.png" pela imagem do logo desejada -->
        </a>
        <div class="breadcrumbs">
            <a href="index.html">Home</a> >
            <a href="pets.html">Pets</a> >
            <span class="current-page">Perfil da Cacau e Nutela</span>
        </div>
    </nav>

    <!-- Ficha do Pet -->
    <div class="container">
        <div class="image-section">
            <img src="cacauenutela.webp" alt="Foto de Kate"> <!-- Substitua "kate.jpg" pela foto do pet -->
        </div>
        <div class="info-section">
            <h1>CACAU E NUTELA</h1>
            <p class="subtitle">- Fêmeas<br>- Porte médio/grande<br>- Situação Especial adoção conjunta<br>- Nascimento Junho 2017<br>-  Resgatadas em Novembro de 2018</p>
            <p class="description">
                Olá pessoal! Nossos nomes são Cacau e Nutela vivemos muito tempo nas ruas sendo cuidadas de forma comunitária
                pela comunidade, mas isso não era suficiente amigos, passávamos por muitas dificuldades e passamos por todas elas juntas o que nos fez melhores amigas. 
                Por conta disso somos cachorrinhas para uma adoção conjunta. 
                Mas podem ficar tranquilos amiguinhos apesar de sermos duas somos cachorrinhas muito educadas e super amorosas.
                Vamos ficar aqui sonhando com o dia da nossa adoção!
            </p>
            <button class="interest-button">
                <span class="paw-icon">🐾</span> Tenho Interesse
            </button>
        </div>
    </div>

</body>
</html>
