<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Pet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Menu de Navegação -->
    <nav class="navbar">
        <a href="index.html">
            <img src="favicon.png" alt="Logo" class="logo"> <!-- Substitua "logo.png" pela imagem do logo desejada -->
        </a>
        <div class="breadcrumbs">
            <a href="index.html">Home</a> >
            <a href="pets.html">Pets</a> >
            <span class="current-page">Perfil da Bravinha e do Bryan</span>
        </div>
    </nav>

    <!-- Ficha do Pet -->
    <div class="container">
        <div class="image-section">
           
            <img src="bravinhaebryan.png" alt="Foto de bb">
        </div>
        <div class="info-section">
            <h1>BRAVINHA E BRYAN</h1>
            <p class="subtitle">- fêmea e macho<br>- Porte pequeno<br>- Situação Especial adoção conjunta<br>- Nascimento Maio 2018<br>-  Resgatados em Janeiro de 2019</p>
            <p class="description">
                Olá Pessoal meu nome é Bravina e esse é o meu filho Bryan!
   Eu e meus filhotes vivíamos no interior do Espírito Santo, perto de uma cachoeira. 
   Sabem amiguinhos era tudo muito difícil e assustador, pois eu não encontrava comida para mim e nem para os meus filhotes.
  No abrigo eu e meus filhotes chagamos muito fraquinhos,
 sim amigos eu tinha mais dois lindos filhotinhos além do meu Bryan, 
 mas infelizmente eu os perdi eles morreram de cinomose, as tias fizeram de tudo para salva-los só que essa doença é muito difícil.
 Sabe amigos, da família toda depois de tantas dificuldades hoje somos apenas eu e meu Bryan eu amo muito meu filhotinho por isso precisamos ser adotados juntinhos!
  Bryan e eu temos um porte pequeno e as tias falam que somos muito obedientes, amamos carinho, gostamos muito de colo, brincadeiras a isso é com a gente mesmo. 
  Queremos muito uma família, vamos ficar aqui torcendo juntinhos para que ela chegue logo!
            </p>
            <button class="interest-button">
                <span class="paw-icon">🐾</span> Tenho Interesse
            </button>
        </div>
    </div>

</body>
</html>
