<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Pet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Menu de Navegação -->
    <nav class="navbar">
        <a href="index.html">
            <img src="favicon.png" alt="Logo" class="logo"> <!-- Substitua "logo.png" pela imagem do logo desejada -->
        </a>
        <div class="breadcrumbs">
            <a href="index.html">Home</a> >
            <a href="pets.html">Pets</a> >
            <span class="current-page">Perfil da Nina</span>
        </div>
    </nav>

    <!-- Ficha do Pet -->
    <div class="container">
        <div class="image-section">
            <img src="nina.webp" alt="Foto de Kate"> <!-- Substitua "kate.jpg" pela foto do pet -->
        </div>
        <div class="info-section">
            <h1>NINA</h1>
            <p class="subtitle">- Fêmea <br>- Porte médio/grande<br>- Nascimento Abril 2016<br>-  Resgatada em Setembro de 2018</p>
            <p class="description">
                Olá amigos! Sou a Nina.
        Amigos eu vivia nas ruas e eu estava doente. Eu não sabia o que eu tinha, mas eu sentia muitas dores.
        Até que um lindo dia uma tia muito legal me resgatou. Quando eu cheguei ao abrigo às tias cuidaram muito bem de mim.
        Depois as tias me levaram para o veterinário e eu comecei o meu tratamento, tive que passar por varias sessões de quimioterapia.
        Hoje eu estou completamente curada! Eu sou uma cachorrinha muito linda, um pouquinho tímida, mas depois que faço amizade com a pessoa sou uma grande amiga. 
        Já estou no abrigo cerca de dois anos. Eu gosto muito das minhas tias amigos, mas eu não quero mais ficar no abrigo. Eu quero muito ir morar com a minha família.
            </p>
            <button class="interest-button">
                <span class="paw-icon">🐾</span> Tenho Interesse
            </button>
        </div>
    </div>

</body>
</html>
