<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Pet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Menu de Navegação -->
    <nav class="navbar">
        <a href="index.html">
            <img src="favicon.png" alt="Logo" class="logo"> <!-- Substitua "logo.png" pela imagem do logo desejada -->
        </a>
        <div class="breadcrumbs">
            <a href="index.html">Home</a> >
            <a href="pets.html">Pets</a> >
            <span class="current-page">Perfil do Apollo e da Ágata</span>
        </div>
    </nav>

    <!-- Ficha do Pet -->
    <div class="container">
        <div class="image-section">
            <img src="Apoloeagat.jpeg" alt="Foto de Kate"> <!-- Substitua "kate.jpg" pela foto do pet -->
        </div>
        <div class="info-section">
            <h1>APOLLO E ÁGATA</h1>
            <p class="subtitle">- Macho e fêmea<br>- Preto e branco/escama<br>- Pelagem curta<br>- Olhos verdes<br>-Nascimento aproximado: 2019<br>- Resgatada em: 2024</p>
            <p class="description">
                
                Somos irmãos inseparáveis e éramos muito amados pela nossa dona, 
                mas ela foi para o céu e agora estamos aqui de novo procurando uma nova família. 
                Somos bonzinhos, educados, limpinhos e carinhosos! Dá uma chance pra gente, vai?:) 
                Seremos entregues vacinados, castrados, testads para FIV e FeLV e microchipados. 
            </p>
            <button class="interest-button">
                <span class="paw-icon">🐾</span> Tenho Interesse
            </button>
        </div>
    </div>

</body>
</html>
