<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Pet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Menu de Navegação -->
    <nav class="navbar">
        <a href="index.html">
            <img src="favicon.png" alt="Logo" class="logo"> <!-- Substitua "logo.png" pela imagem do logo desejada -->
        </a>
        <div class="breadcrumbs">
            <a href="index.html">Home</a> >
            <a href="pets.html">Pets</a> >
            <span class="current-page">Perfil da Maya</span>
        </div>
    </nav>

    <!-- Ficha do Pet -->
    <div class="container">
        <div class="image-section">
            <img src="maya.webp" alt="Foto de Kate"> <!-- Substitua "kate.jpg" pela foto do pet -->
        </div>
        <div class="info-section">
            <h1>MAYA</h1>
            <p class="subtitle">- Fêmea <br>- Porte médio<br>- Nascimento Maio de 2022<br>-  Resgatada em Dezembro de 2022</p>
            <p class="description">
                Olá pessoal. Eu sou a Maya, uma cachorrinha filhote muito carinhosa e brincalhona.
                Estou à procura de uma família pra chamar de minha!
                Procuro um lar amoroso e, acima de tudo, responsável.
            </p>
            <button class="interest-button">
                <span class="paw-icon">🐾</span> Tenho Interesse
            </button>
        </div>
    </div>

</body>
</html>
