<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação de Pets</title>
    <link rel="stylesheet" href="ficha.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="pets.html">Pets</a></li>
                <li><a href="adotar.html">Adotar</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    
        <div class="header-content">
    <div class="header">
        <img src="catanddog.jpg" alt="Imagem de topo" class="top-image">
        <div class="title-container">
            <h1>Doação de Pets</h1>
            <p>Encontre um amigo especial e transforme sua vida!</p>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <img src="pandora.jpg" alt="Pet 1">
            <div class="caption">
                <h3>Pandora</h3>
                Oi, sou a Pandora, uma gatinha tigrada de olhos verdes que passou três vezes na fila da beleza...
            </div>
            <button onclick="window.location.href='pet1.html'">Ver mais</button>
        </div>

        <div class="card">
            <img src="cacauenutela.webp" alt="Pet 2">
            <div class="caption">
                <h3>Cacau e Nutela</h3>
                Olá pessoal! Nossos nomes são Cacau e Nutela. Vivemos muito tempo nas ruas sendo cuidadas de forma comunitária...
                <p class="extra-caption">Situação Especial: Adoção conjunta</p>
            </div>
            <button onclick="window.location.href='pet2.html'">Ver mais</button>
        </div>

        <div class="card">
            <img src="bravinhaebrian.webp" alt="Pet 3">
            <div class="caption">
                <h3>Bravina e Bryan</h3>
                Olá Pessoal, meu nome é Bravina e esse é o meu filho Bryan!
                <p class="extra-caption">Situação Especial: Adoção conjunta</p>
            </div>
            <button onclick="window.location.href='pet3.html'">Ver mais</button>
        </div>

        <div class="card">
            <img src="mexicana.jpg" alt="Pet 4">
            <div class="caption">
                <h3>Mexicana</h3>
                Olá! Sou a Mexicana, uma gatinha tricolor de olhos verdes...
            </div>
            <button onclick="window.location.href='pet4.html'">Ver mais</button>
        </div>

        <div class="card">
            <img src="nina.webp" alt="Pet 5">
            <div class="caption">
                <h3>Nina</h3>
                Olá amigos! Sou a Nina.
                Eu sou uma cachorrinha muito linda, um pouquinho tímida...
            </div>
            <button onclick="window.location.href='pet5.html'">Ver mais</button>
        </div>

        <div class="card">
            <img src="Apoloeagat.jpeg" alt="Pet 6">
            <div class="caption">
                <h3>Apollo e Ágata</h3>
                Somos irmãos inseparáveis e éramos muito amados pela nossa dona...
                <p class="extra-caption">Situação Especial: Adoção conjunta</p>
            </div>
            <button onclick="window.location.href='pet6.html'">Ver mais</button>
        </div>

        <div class="card">
            <img src="digo.webp" alt="Pet 7">
            <div class="caption">
                <h3>Digo</h3>
                Oi pessoal lindo! Meu nome é Digo, alegria e animação é comigo mesmo!
            </div>
            <button onclick="window.location.href='pet7.html'">Ver mais</button>
        </div>

        <div class="card">
            <img src="sky.jpg" alt="Pet 8">
            <div class="caption">
                <h3>Sky</h3>
                Oi, gente! É aqui que tem pessoas procurando por um gatinho? Sou o Sky, um gatinho preto da sorte!...
            </div>
            <button onclick="window.location.href='pet8.html'">Ver mais</button>
        </div>

        <div class="card">
            <img src="maya.webp" alt="Pet 9">
            <div class="caption">
                <h3>Maya</h3>
                Olá pessoal. Eu sou a Maya, uma cachorrinha filhote muito carinhosa e brincalhona...
            </div>
            <button onclick="window.location.href='pet9.html'">Ver mais</button>
        </div>

        <div class="card">
            <img src="biscoito.jpg" alt="Pet 10">
            <div class="caption">
                <h3>Biscoito</h3>
                Oi, gente! Biscoito aqui, esse gatinho charmoso demais, do jeito que você sempre sonhou...
                <p class="extra-caption">Situação Especial: Paraplégico</p>
            </div>
            <button onclick="window.location.href='pet10.html'">Ver mais</button>
        </div>
    </div>
</body>
</html>

